.main_part{
    font-family: 'Hind Siliguri', sans-serif;
    background: black;
    color: #758d97 !important;
}

.content {
    padding-top: 70px;
}

.mynav {
    background: black;
    border: black;
    color: #004483 !important;
}



.navbar-default .navbar-nav > li > a:hover {
    color: #333;
    background-color: #1e1b1b00;
}

.navbar-default .navbar-nav > .open > a:focus {
    background-color: black !important;
}

.navbar-default .navbar-nav > .open > a:hover {
    color: #004483;
    background-color: black;
}

.dropdown-menu {
    font-size: 1em;
}

.mydropnav {
    background: black;
    border: black;
}

.list_items{
    font-size: 125%;
    color: #004483 !important;
}

.building_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: #758d97 solid 2px !important;
    width: 95%;
    height: 60%;
}

.loco_logo{
    display: block;
    float: right;
    width: 50%;
    height: 50%;
}

.loco_logo2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: black solid 20px !important;
    width: 100%;
    height: 100%;
}

.title_page{
    font-family: 'Hind Siliguri', sans-serif;
    text-align: center;
    color: #758d97 !important;
}

.jumbotron{
    background-color: Black;
    border: #ffd900 solid 1px !important;
    outline: #004483 solid 10px !important;
    color: #758d97 !important;
}

.profile_form{
    color: #758d97 !important;
    text-align: center;
}

#cancel_update {
    color: #004483;
    border: 2px;
    border-color: #ffd900;
    border-radius: 2px;
    padding: 7px 18px;
}

#cancel_update:hover {
    color: #ffd900;
}

#show_message_edit {
    color: #004483;
    border: 2px;
    border-color: #ffd900;
    border-radius: 2px;
    padding: 7px 18px;
}

#show_message_edit:hover {
    color: #ffd900;
}

#attendance-section {
    text-align: center;
}

.class_info {
    text-align: center;
}

/* CSS used for footers at the bottom of the page. */
#myFooter {
    background-color: black;
    color: #ffd900;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .info{
    text-align: justify;
    color: #ffd900;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
    text-align: center;
}

#myFooter h5 {
    font-size: 18px;
    color: #ffd900;
    font-weight: bold;
    margin-top: 30px;
    font-family: 'Hind Siliguri', sans-serif;
    text-align: center;
}

#myFooter .logo{
    margin-top: 10px;
}

#myFooter .second-bar .logo a{
    color:white;
    font-size: 28px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
}

#myFooter a {
    color: #ffd900;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: #ffd900;
}

#myFooter .second-bar {
    text-align: center;
    background-color: black;
    text-align: center;
}

#myFooter .second-bar a {
    font-size: 22px;
    color: #ffd900;
    padding: 10px;
    transition: 0.2s;
    line-height: 68px;
}

#myFooter .second-bar a:hover {
    text-decoration: none;
}

#myFooter .social-icons {
    float:right;
}


#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }

    #myFooter .info{
        text-align: center;
    }
}

