{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="container">
    <h1>Employment Information</h1>
        <h2>Taipei Language Institute is currently hiring teachers for the following positions:</h2>
        <p>English Teacher: Full/Part Time </br>
            Japanese Teacher: Full/Part Time</br>
            German Teacher: Part Time </br>
            Korean Teacher: Part Time</p>
        <p>For enquiries about employment opportunities, feel free to contact us. We look forward to hearing from you!</p>

</div>
{% endblock %}
