{% extends "base.html" %}

{% block content %}
    {% load static %}
    <img src="{% static 'TLI_FLD/images/header_logo.svg' %}" alt="Taipei Language Institute" class="loco_logo2"/>
    {% load static %}
    <div class="carousel slide" data-ride="carousel" id="carousel-id">
        <div class="carousel-inner">
            <div class="item active">
                <img src="{% static 'TLI_FLD/images/Taipei_101_2.png' %}" alt="Image Won't Load" class="building_image"/>
            </div>
            <div class="item">
                <img src="{% static 'TLI_FLD/images/jinguashi.png' %}" alt="Image Won't Load" class="building_image"/>
            </div>
            <div class="item">
                <img src="{% static 'TLI_FLD/images/alishantea.png' %}" alt="Image Won't Load" class="building_image"/>
            </div>
            <div class="item">
              <img src="{% static 'TLI_FLD/images/jiufen.png' %}" alt="Image Won't Load" class="building_image"/>
            </div>
            <div class="item">
              <img src="{% static 'TLI_FLD/images/xiaoliuqiu.png' %}" alt="Image Won't Load" class="building_image"/>
            </div>
        </div>
        <a class="left carousel-control" href="#carousel-id" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-id" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
{% endblock %}
