{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="container">
    <h1>Company Information</h1>
        <p>Taipei Language Institute was founded in 1956 to provide training to foreigners in Mandarin and Taiwanese.</p>
        <p>The Foreign Language Department was subsequently founded to expand the scope of TLI's language instruction to
        include training to local Taiwanese people as well as foreign visitors in English, Japanese, and a variety of other languages.</p>
        <p>TLI offers customized classes to individuals and groups of all ages at our locations in Taipei or at students' places of
        work or residence.</p>
        <p>For enquiries about language instruction and to get started, please contact us. We look forward to hearing from you!</p>

</div>

{% endblock %}
